<h1>
  Stores Reports
</h1>

<div>
  <ul>
    <li>
      <%= link_to "Daily Covid Questionaire", new_covid_question_path %>
    </li>
    <li>
      <%= link_to "Daily Settlement Report", new_report_path %>
    </li>
  </ul>
</div>
